/*contact form*/
.form-row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: left;
	padding-top: 2%;
	padding-bottom: 1%;
	padding-left: 10%;
	padding-right: 10%;
}
.button{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: left;
	padding-top: 2%;
	padding-bottom: 1%;
	padding-left: 10%;
	padding-right: 10%;
}


.form-row input{
	width: 150%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid rgb(0, 0, 0);
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

/*checkbox*/
.checkbox {
    background-color: #ffffff;
  }
  .checkbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    /* minmax(300px, 1fr)*/
    grid-gap: 30px;
    padding: 20px;
    justify-items: center;
    justify-content: space-between;
    align-items: start;
  }
  .checkbox {
    padding: 2em;
  }
  .checkbox {
    margin-bottom: 2em;
  }
  
.checkbox input[type="checkbox"] {
    display: none;
  }
  .checkbox input[type="checkbox"] + label {
    display: block;
    justify-content: space-between;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 15px/25px "Open Sans", Arial, sans-serif;
    cursor: pointer;
  }
  .checkbox input[type="checkbox"]:hover + label:hover {
    color: rgb(137, 34, 15);
  }
  .checkbox input[type="checkbox"]:hover + label:before { 
    border: 1px solid #343a3f;
    box-shadow: 2px 1px 0 #343a3f;
  }
  .checkbox input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
  }
  .checkbox input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #343a3f;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.03);
    box-shadow: -2px -1px 0 #343a3f;
    background: #ffffff;
  }
  .checkbox input[type="checkbox"]:checked + label:before {
    border: 2px solid #fff;
    border-radius: 0.3em;
    background: #50565a;
    box-shadow: 2px 1px 0 #50565a;
  }

  /*radio-button*/
  .radio-button {
    background-color: #ffffff;
  }
  .radio-button {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    /* minmax(300px, 1fr)*/
    grid-gap: 30px;
    padding: 20px;
    justify-items: center;
    justify-content: space-between;
    align-items: start;
  }
  .radio-button {
    padding: 2em;
  }
  .radio-button {
    margin-bottom: 2em;
  }
  
  .radio-button input[type="radio"] {
    display: none;
  }
  .radio-button input[type="radio"] + label {
    display: block;
    justify-content: space-between;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 15px/25px "Open Sans", Arial, sans-serif;
    cursor: pointer;
  }
  .radio-button input[type="radio"]:hover + label:hover {
    color: rgb(137, 34, 15);
  }
  .radio-button input[type="radio"]:hover + label:before { 
    border: 1px solid #343a3f;
    box-shadow: 2px 1px 0 #343a3f;
  }
  .radio-button input[type="radio"] + label:last-child {
    margin-bottom: 0;
  }
  .radio-button input[type="radio"] + label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #343a3f;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.03);
    box-shadow: -2px -1px 0 #343a3f;
    background: #ffffff;
  }
  .radio-button input[type="radio"]:checked + label:before {
    border: 2px solid #fff;
    border-radius: 0.3em;
    background: #50565a;
    box-shadow: 2px 1px 0 #50565a;
  }

::placeholder{
    padding-left: 0.5rem;
    padding-top: 0.2rem;
}

.contact{
    padding-top: 1rem;
    padding-left: 1rem;
}